h2 {
    text-align: center;
    margin: 20px;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
    /*button {
        border: 1px solid #bbb;
        box-shadow: 3px 3px 5px #bbb;
    }*/
}