table {
    margin: auto;
    width: 80%;
    margin-top: 20px;
}

table td {
    box-shadow: 5px 5px 5px #b1b1b1;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #6cd46f;
    color: #333;
}

h2 {
    text-align: center;
    margin: 20px;
}

.table-container {
    margin: 20px 0;
}

.topic-table {
    border: 1px solid #bbbbbb;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 90%;
    max-width: 1000px;
}

.topic-table th {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

th span {
    margin: 0 20px;
}

.comments-table {
    width: 80%;
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

.comments-table tbody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.comments-table th {
    text-align: center;
}

.comments-table tr {
    padding: 10px;
    min-width: 100%;
}

.comments-table tr td {
    display: inline-block;
    width: 100%;
    padding: 0;
    border-radius: 10px;
}

mat-card {
    border: 1px solid black;
    border-radius: 10px;
}

mat-card-header {
    background-color: cornflowerblue;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.topic-table mat-card-header {
    background-color: #6cd46f;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

mat-card-content {
    padding: 15px;
}

mat-card-actions {
    padding: 10px 10px 0;
    min-height: 24px !important;
}

.topic-table mat-card-actions {
    padding: 10px 10px 0;
    display: flex;
    justify-content: end;
    min-height: 24px !important;
}

mat-icon {
    color: cornflowerblue;
    padding: 3px 5px;
    margin: 0 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#delete-icon {
    color: red;
}

mat-icon:hover {
    background-color: #ccc;
}

mat-card-footer {
    padding: 0 5px 5px;
}

.new-comment mat-card-header {
    background-color: rgb(76, 111, 176);
}

.new-comment input {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.new-comment mat-card-actions {
    padding: 10px;
}

.new-comment button {
    margin: 0 10px 10px 10px;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: cornflowerblue;
    color: white;
}

#comment {
    width: 99%;
    resize: none;
}

.my-comment {
    background-color: rgb(68, 217, 237);
}