<div class="table-container">
    <table class="topic-table">
        <tbody>
            <tr>
                <div class="card-container">
                    <mat-card>
                        <mat-card-header>Question from {{topic?.author}}:</mat-card-header>
                        <mat-card-content><h2>{{topic?.title}}</h2></mat-card-content>
                        <mat-card-actions *ngIf="currentUser">
                            <mat-icon *ngIf="!topic?.usersLikesTopic || !hasUserLikedTopic(topic!)" (click)="likeTopic(topic!._id)" fontIcon="thumb_up"></mat-icon>
                            <mat-icon *ngIf="!topic?.usersLikesTopic || hasUserLikedTopic(topic!)" (click)="dislikeTopic(topic!._id)" fontIcon="thumb_down"></mat-icon>
                            <span  *ngIf="hasUserLikedTopic(topic!)">You <span *ngIf="topic!.usersLikesTopic.length > 1">and {{topic!.usersLikesTopic.length - 1}} </span>liked this</span>
                            <span  *ngIf="!hasUserLikedTopic(topic!)"><span *ngIf="topic!.usersLikesTopic.length > 0">{{topic!.usersLikesTopic.length}} </span>liked this</span>
                        </mat-card-actions>
                        <mat-card-footer><hr>{{topic?.timestamp | date: 'yyyy.MM.dd HH:mm' }}</mat-card-footer>
                    </mat-card>
                </div>
            </tr>
        </tbody>
    </table>

    <table class="comments-table">
        <tbody *ngIf="comments && comments.length > 0; else noCommentsTemplate">
            <tr *ngFor="let comment of comments; let i = index">
                <td>
                    <div class="card-container">
                        <mat-card>
                            <mat-card-header [ngClass]="{'my-comment': comment.author === currentUser?.email}">{{ i + 1 }}/{{ comments!.length }} Reply from <div *ngIf="comment.author === currentUser?.email">&nbsp;you (</div>{{comment.author}}<div *ngIf="comment.author === currentUser?.email">)</div>:</mat-card-header>
                            <mat-card-content>
                                <span *ngIf="!editMode" [innerHTML]="comment.comment"></span>
                                <span *ngIf="editMode && comment._id !== selectedCommentToEdit" [innerHTML]="comment.comment"></span>
                                <textarea *ngIf="editMode && comment._id === selectedCommentToEdit" name="comment" id="comment" rows="5" [(ngModel)]="editedComment"></textarea>
                            </mat-card-content>
                            <mat-card-actions *ngIf="currentUser">
                                <div>
                                    <mat-icon (click)="likeComment(comment._id)" fontIcon="thumb_up" *ngIf="!hasUserLikedComment(comment)">asd</mat-icon>
                                    <span  *ngIf="!hasUserLikedComment(comment) && comment.usersLikesComment.length > 0">{{comment.usersLikesComment.length}} liked this</span>
                                    <mat-icon (click)="dislikeComment(comment._id)" fontIcon="thumb_down" *ngIf="hasUserLikedComment(comment)"></mat-icon>
                                    <span  *ngIf="hasUserLikedComment(comment)">You <span *ngIf="comment.usersLikesComment.length > 1">and {{comment.usersLikesComment.length - 1}} </span>liked this</span>
                                </div>
                                <div>
                                    <mat-icon (click)="deleteComment(comment._id)" fontIcon="delete" id="delete-icon" *ngIf="currentUser?.email === comment.author || currentUser?.isAdmin"></mat-icon>
                                    <mat-icon (click)="editModeToggle(comment._id)" *ngIf="!editMode && (currentUser?.email === comment.author || currentUser?.isAdmin)" fontIcon="edit"></mat-icon>
                                    <mat-icon (click)="editComment(comment._id)" *ngIf="editMode && comment._id === selectedCommentToEdit" fontIcon="check" class="check"></mat-icon>
                                    <mat-icon (click)="editModeToggle(comment._id)" *ngIf="editMode && comment._id === selectedCommentToEdit" fontIcon="cancel" class="cancel"></mat-icon>
                                </div>
                            </mat-card-actions>
                            <mat-card-footer><hr>{{comment.timestamp | date: 'yyyy.MM.dd HH:mm' }}</mat-card-footer>
                        </mat-card>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!currentUser">
                <td colspan="3" style="box-shadow: none;">
                    <div class="no-data">
                        <p style="text-align: center;">If you'd like to post a comment, please <span class="navigate" (click)="navigate('/login')">log in</span>.</p>
                    </div>
                </td>
            </tr>
            <tr *ngIf="currentUser">
                <td>
                    <div class="card-container new-comment">
                        <mat-card>
                            <mat-card-header>New comment:</mat-card-header>
                            <mat-card-content>
                                <!--<input type="text" placeholder="What's in your mind?">-->
                                <textarea name="comment" id="comment" rows="5" [(ngModel)]="commentText"></textarea>
                                <span *ngIf="scriptTagInComment" class="script-detected">Bro, we don't do that here.</span>
                            </mat-card-content>
                            <mat-card-actions><button type="submit" (click)="addComment()">Submit</button></mat-card-actions>
                        </mat-card>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noCommentsTemplate>
    <tr>
        <td colspan="3" style="box-shadow: none;">
            <div class="no-data">
                <p style="text-align: center;">No comments available.</p>
            </div>
        </td>
    </tr>
    <tr *ngIf="!currentUser">
        <td colspan="3" style="box-shadow: none;">
            <div class="no-data">
                <p style="text-align: center;">If you'd like to post a comment, please <span class="navigate" (click)="navigate('/login')">log in</span>.</p>
            </div>
        </td>
    </tr>
    <tr *ngIf="currentUser">
        <td>
            <div class="card-container new-comment">
                <mat-card>
                    <mat-card-header>New comment:</mat-card-header>
                    <mat-card-content>
                        <!--<input type="text" placeholder="What's in your mind?">-->
                        <textarea name="comment" id="comment" rows="5" [(ngModel)]="commentText"></textarea>
                        <span *ngIf="scriptTagInComment" class="script-detected">Bro, we don't do that here.</span>
                    </mat-card-content>
                    <mat-card-actions><button type="submit" (click)="addComment()">Submit</button></mat-card-actions>
                </mat-card>
            </div>
        </td>
    </tr>
</ng-template>